<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Solicitudes Salientes</nb-card-header>
      <nb-card-body>
        <h3>{{mi_empresa}}</h3>
        <div *ngIf="solicitudes !== null && solicitudes.length === 0" class="alerta">
          No existen solicitudes salientes
          <br><br>
        </div>
        <div class="table-responsive" *ngIf="solicitudes !== null && solicitudes.length > 0">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>N.</th>
              <th>Empresa</th>
              <th>Rubro</th>
              <th>Horario</th>
              <th>Mesa</th>
              <th>Tipo de Asignacion</th>
              <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let solicitud of solicitudes; let i = index">
              <td>{{ i + 1 }}</td>
              <td><a (click)="info(solicitud)" class="info">{{ solicitud.nombre }}</a></td>
              <td>{{ solicitud.rubro }}</td>
              <td>{{ solicitud.inicio }} {{ solicitud.fin }}</td>
              <td>{{ solicitud.mesa }}</td>
              <td class="text-center">
                <span *ngIf="solicitud.tipo_asignacion === 'pre_agendado'" class="text-success">Pre Agendado</span>
                <span *ngIf="solicitud.tipo_asignacion === 'administracion'" class="text-info">Administración</span>
                <span *ngIf="solicitud.tipo_asignacion === 'cita_de_contingencia'" class="text-danger">Cita de Contingencia</span>
              </td>
              <td class="text-center">
                <span *ngIf="solicitud.estado === 'aceptado'" class="text-success">Aceptado</span>
                <span *ngIf="solicitud.estado === 'rechazado'" class="text-danger">Rechazado</span>
                <span *ngIf="solicitud.estado === 'pendiente'" class="text-warning">Pendiente</span>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
