<nb-card>
  <nb-card-header *ngIf="tipo !== null">
    MIS {{ tipo | uppercase }}S
  </nb-card-header>
  <nb-card-body>
    <button class="btn btn-primary"
            title="Elija para ofertar productos o servicios"
            (click)="getOfertas()" [disabled]="tipo === 'oferta'">Ofertas</button> &nbsp;&nbsp;
    <button class="btn btn-warning"
            title="Elija para demandar(solicitar) productos o servicios"
            (click)="getDemandas()" [disabled]="tipo === 'demanda'">Demandas</button>
    <br>
    <br>
    <form (submit)="store()">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <select name="producto_servicio"
                    nbPopover="Seleccione el producto o servicio que desea registrar" nbPopoverMode="hint" nbPopoverPlacement="top"
                    id="producto_servicio" [(ngModel)]="producto_servicio" class="form-control">
              <option value="producto">Producto</option>
              <option value="servicio">Servicio</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              [(ngModel)]="descripcion"
              oninput="this.value = this.value.toUpperCase()"
              nbPopover="Escriba la descripción de la {{tipo}}" nbPopoverMode="hint" nbPopoverPlacement="top"
              type="text"
              maxlength="50"
              name="descripcion" id="descripcion" class="form-control"
              placeholder="Descripción de la {{tipo}}" aria-describedby="helpId">
          </div>
        </div>
        <div class="col-lg-4">
          <button type="submit" class="btn btn-primary btn-block" *ngIf="tipo === 'oferta'">GUARDAR OFERTA</button>
          <button type="submit" class="btn btn-warning btn-block" *ngIf="tipo === 'demanda'">GUARDAR DEMANDA</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<div class="row">
  <div class="col-lg-6">
    <nb-card *ngIf="productos !== null">
      <nb-card-header>{{ tipo | uppercase }} DE PRODUCTOS</nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>N.</th>
              <th>{{ tipo | titlecase }}s de Productos</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of productos; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <span *ngIf="record.edit === false">{{ record.descripcion }}</span>
                <input *ngIf="record.edit === true" type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="record.descripcion" value="{{record.descripcion}}" class="form-control">
              </td>
              <td class="btn-acciones">
                <a class="text-warning"
                   *ngIf="record.edit === false"
                   nbPopover="Editar {{tipo}}" nbPopoverMode="hover" nbPopoverPlacement="top"
                   (click)="edit(record)"><i class="fa fa-edit"></i></a>
                <a class="text-danger"
                   nbPopover="Eliminar {{tipo}}" nbPopoverMode="hover" nbPopoverPlacement="top"
                   *ngIf="record.edit === false"
                   (click)="destroy(record, i)"><i class="fa fa-trash"></i></a>
                <a class="text-success"
                   nbPopover="Actualizar {{tipo}}" nbPopoverMode="hover" nbPopoverPlacement="top"
                   (click)="update(record)"
                   *ngIf="record.edit === true"><i class="fa fa-check"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card *ngIf="servicios !== null">
      <nb-card-header>{{ tipo | uppercase }} DE  SERVICIOS</nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>N.</th>
              <th>{{ tipo | titlecase }}s de Servicios</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of servicios; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <span *ngIf="record.edit === false">{{ record.descripcion }}</span>
                <input *ngIf="record.edit === true" type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="record.descripcion" value="{{record.descripcion}}" class="form-control">
              </td>
              <td class="btn-acciones">
                <a class="text-warning"
                   nbPopover="Editar {{tipo}}" nbPopoverMode="hover" nbPopoverPlacement="top"
                   *ngIf="record.edit === false"
                   (click)="edit(record)"><i class="fa fa-edit"></i></a>
                <a class="text-danger"
                   nbPopover="Eliminar {{tipo}}" nbPopoverMode="hover" nbPopoverPlacement="top"
                   *ngIf="record.edit === false"
                   (click)="destroy(record, i)"><i class="fa fa-trash"></i></a>
                <a class="text-success"
                   nbPopover="Actualizar {{tipo}}" nbPopoverMode="hover" nbPopoverPlacement="top"
                   (click)="update(record)"
                   *ngIf="record.edit === true"><i class="fa fa-check"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
