<div class="row">
  <div class="offset-3 col-md-6">
    <nb-card>
      <nb-card-header>
        Cambiar Contraseña
        <div class="text-success" *ngIf="mensaje === 'Contraseña actualizada exitosamente'">{{mensaje}}</div>
        <div class="text-danger" *ngIf="mensaje !== 'Contraseña actualizada exitosamente'">{{mensaje}}</div>
      </nb-card-header>
      <nb-card-body>
        <form (submit)="update()" [formGroup]="usuarioGroup">
          <div class="form-group">
            <label for="current_password">Contraseña actual</label>
            <input type="password" placeholder="Contraseña actual" id="current_password" formControlName="current_password" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <label for="new_password">Nueva contraseña</label>
            <input type="password" placeholder="Nueva contraseña" id="new_password" formControlName="new_password" class="form-control">
          </div>
          <div class="form-group">
            <label for="repeat_new_password">Repetir nueva contraseña</label>
            <input type="password" placeholder="Repetir nueva contraseña" id="repeat_new_password" formControlName="repeat_new_password" class="form-control">
          </div>
          <button class="btn btn-success">Actualizar contraseña</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
