<div class="row">
  <div class="offset-md-3 col-md-6">
    <nb-card>
      <nb-card-header>
        REGISTRO EXITOSO
      </nb-card-header>
      <nb-card-body>
        <h3>Acabas de registrarte exitosamente a la <strong>RUEDA DE NEGOCIOS</strong></h3>
        <p>
          Por favor ingrese a <strong><span class="green">RUEDA</span>LOGIN</strong> con su cuenta y contraseña definidos en el formulario anterior.
        </p>
        <em>
          En caso de tener dudas o problemas al momento de ingreso al sistema comunicarse con administración de la Rueda de Negocios.
        </em>
        <div class="text-center">
          <button class="btn btn-success">INICIAR SESION</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
