<div class="row">
  <div class="col-sm-12">
    <form (submit)="subir()" [formGroup]="compGroup" role="form">
      <legend class="legend-login">

        <h4><div class="alert-danger">Debe subir una foto el comprobante de pago en la cuenta del banco</div></h4>
        <nb-card>
          <nb-card-header>
            ¿Cúal es el coste?
          </nb-card-header>
          <nb-card-body>
            <p>
              Para el caso de los expositores en nuestra feria EXPOTECO 2018 el costo es totalmente gratuito.
            </p>
            <p>
              Para otras empresas y emprendedores, se les da la opción de inscribirse con el 50% de descuento es decir sólo <strong>100 [Bs] hasta el 20 de octubre de 2018</strong>, pasado este plazo se cobrará el precio regular de <strong>200 [Bs]</strong>.
            </p>
          </nb-card-body>
        </nb-card>
      </legend>
      <div class="form-group">
        <label for="comprobante">Comprobante</label>
        <input type="file" class="form-control" formControlName="comprobante" name="comprobante" id="comprobante">
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="compGroup.status === 'INVALID'" class="btn-login">Subir</button>
      </div>
    </form>
  </div>

</div>
