<div class="row">
  <div class="col-sm-12">
    <form (submit)="subir()" [formGroup]="compGroup" role="form">
      <legend class="legend-login">
        <h4 *ngIf="voucher!==null">
          <div class="alert-success">Ya subió su comprobante, se lo esta revisando para su habilitación en el sistema
          </div>
        </h4>
        <h5 *ngIf="voucher!==null">
          <div>Si usted cree que subió otra imagen y no su comprobante, puede volver a subirlo</div>
        </h5>
        <h5 *ngIf="voucher!==null">
          <div>Si usted ya lleva esperando mucho tiempo su habilitación, puede comunicarse con la administración al <a
            href="https://api.whatsapp.com/send?phone=59160420121" target="_blank">60420121</a>
          </div>
        </h5>
        <h4 *ngIf="voucher===null">
          <div class="alert alert-danger">Debe subir una foto del comprobante de pago o de la transfererencia
            correspondiente de la inscripción a la <strong>"Rueda de Negocios de Bioseguridad 2020"</strong></div>
        </h4>
        <nb-card>
          <nb-card-header>
            ¿Cuál es el coste?
          </nb-card-header>
          <nb-card-body>
            <p>
              Todas las empresas podrán inscribirse a la <strong>"Rueda de Negocios de FIMEM Bolivia 2020"</strong> con
              un costo referencial de Bs. 550 para empresas ofertantes, en caso de ser una empresa
              <strong>demandante</strong>
              contactarse con <a href="https://api.whatsapp.com/send?phone=59160420121" target="_blank">60420121</a>
              para optar por <strong>Becas Empresariales</strong>.
            </p>
          </nb-card-body>
        </nb-card>
      </legend>
      <div class="form-group">
        <label for="comprobante">Comprobante</label>
        <input #comprobante class="form-control" formControlName="comprobante" id="comprobante" name="comprobante"
               type="file">
      </div>
      <div class="text-center">
        <button [disabled]="compGroup.status === 'INVALID'" class="btn-login" type="submit">Subir Comprobante</button>
      </div>
    </form>
  </div>
</div>
