<div [class.empresa-container]="router.url === '/auth/signup'">
  <div class="row">
    <div class="col-md-12">
      <form (submit)="store()"
            *ngIf="rubros !== null"
            [formGroup]="empresaGroup"
            role="form">
        <h3 class="signup-title">Registro de Empresa</h3>
        <div *ngIf="mensaje !== null" class="alert alert-success">
          <strong>{{ mensaje }}</strong>
        </div>
        <div *ngIf="error !== null" class="alert alert-danger">
          <strong>{{ error }}</strong>
        </div>
        <br><br>
        <nb-card>
          <nb-card-header>
            Datos de la Empresa
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-lg-4 form-group">
                <label for="rubro_id">Lista de rubros</label>
                <select class="form-control" formControlName="rubro_id" id="rubro_id" name="rubro_id">
                  <option *ngFor="let rubro of rubros" [value]="rubro.rubro_id">{{ rubro.nombre }}</option>
                </select>
                <div *ngIf="empresaGroup.get('rubro_id').status === 'INVALID' && empresaGroup.get('rubro_id').dirty"
                     class="alert alert-danger">
                  <strong>Elija un rubro</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="nombre">Nombre de la empresa</label>
                <input class="form-control" formControlName="nombre" id="nombre" name="nombre"
                       oninput="this.value = this.value.toUpperCase()" placeholder="Empresa" type="text">
                <div *ngIf="empresaGroup.get('nombre').status === 'INVALID' && empresaGroup.get('nombre').dirty"
                     class="alert alert-danger">
                  <strong>El nombre de la empresa es obligatorio</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="nit">NIT</label>
                <input class="form-control"
                       formControlName="nit"
                       id="nit" name="nit"
                       oninput="this.value = this.value.toUpperCase(); this.value = this.value.replace(/[A-Za-z\W ]/g, '')"
                       placeholder="NIT" type="text">
                <div *ngIf="empresaGroup.get('nit').status === 'INVALID'&& empresaGroup.get('nit').dirty"
                     class="alert alert-danger">
                  <strong>Registrar el NIT es obligatorio</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 form-group">
                <label for="pagina_web">Página web (Opcional)</label>
                <input class="form-control" formControlName="pagina_web" id="pagina_web" name="pagina_web"
                       placeholder="Pagina Web"
                       type="url">
              </div>
              <div class="col-lg-4 form-group">
                <label for="pais">Pais</label>
                <select class="form-control" formControlName="pais" id="pais" name="pais">
                  <option *ngFor="let pais of paises" [value]="pais.nombre">{{ pais.nombre }}</option>
                </select>
                <!--                <input class="form-control" formControlName="pais" id="pais" name="pais"
                                       oninput="this.value = this.value.toUpperCase()" placeholder="País" type="text">-->
                <div *ngIf="empresaGroup.get('pais').status === 'INVALID' && empresaGroup.get('pais').dirty"
                     class="alert alert-danger">
                  <strong>Seleccione el país de la empresa</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="ciudad_localidad">Ciudad/Localidad</label>
                <input class="form-control" formControlName="ciudad_localidad" id="ciudad_localidad"
                       name="ciudad_localidad" oninput="this.value = this.value.toUpperCase()"
                       placeholder="Ciudad o Localidad"
                       type="text">
                <div
                  *ngIf="empresaGroup.get('ciudad_localidad').status === 'INVALID' && empresaGroup.get('ciudad_localidad').dirty"
                  class="alert alert-danger">
                  <strong>Ingresa la ciudad o localidad de la empresa</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="direccion">Dirección</label>
                <input class="form-control" formControlName="direccion" id="direccion" name="direccion"
                       oninput="this.value = this.value.toUpperCase()" placeholder="Direccion" type="text">
                <div *ngIf="empresaGroup.get('direccion').status === 'INVALID' && empresaGroup.get('direccion').dirty"
                     class="alert alert-danger">
                  <strong>La direccion de la empresa es obligatoria</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="representante_legal">Representante legal</label>
                <input class="form-control"
                       formControlName="representante_legal"
                       id="representante_legal" name="representante_legal"
                       oninput="this.value = this.value.toUpperCase(); this.value = this.value.replace(/[0-9]/g, '')"
                       placeholder="Representante Legal" type="text">
                <div
                  *ngIf="empresaGroup.get('representante_legal').status === 'INVALID' && empresaGroup.get('representante_legal').dirty"
                  class="alert alert-danger">
                  <strong>El representante legal de la empresa es obligatoria</strong>
                </div>
              </div>


              <div class="col-lg-4 form-group">
                <label for="telefono">Telefono ó Celular</label>
                <input class="form-control"
                       formControlName="telefono"
                       id="telefono" name="telefono"
                       oninput="this.value = this.value.toUpperCase(); this.value = this.value.replace(/[A-Za-z\W ]/g, '')"
                       placeholder="Telefono ó Celular"
                       type="text">
                <div *ngIf="empresaGroup.get('telefono').status === 'INVALID' && empresaGroup.get('telefono').dirty"
                     class="alert alert-danger">
                  <strong>El teléfono o celular de la empresa es obligatoria</strong>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Mi Cuenta de Acceso <br>
            <strong>Cuenta:</strong> Tu primer nombre en minúsculas y carnet es tu cuenta. <strong style="color: blue;">Ej.
            manuel7587458</strong>
            <br>
            <strong>Contraseña: </strong> El número de carnet. <strong style="color: blue;">Ej. 7587458</strong>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-lg-4 form-group">
                <label for="p1_nombres">Nombres</label>
                <input class="form-control" formControlName="p1_nombres" id="p1_nombres"
                       oninput="this.value = this.value.toUpperCase()"
                       type="text">
                <div *ngIf="empresaGroup.get('p1_nombres').status === 'INVALID' && empresaGroup.get('p1_nombres').dirty"
                     class="alert alert-danger">
                  <strong>Los nombres son obligatorios</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="p1_apellidos">Apellidos</label>
                <input class="form-control" formControlName="p1_apellidos" id="p1_apellidos"
                       oninput="this.value = this.value.toUpperCase()" type="text">
                <div
                  *ngIf="empresaGroup.get('p1_apellidos').status === 'INVALID' && empresaGroup.get('p1_apellidos').dirty"
                  class="alert alert-danger">
                  <strong>Los apellidos son obligatorios</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="p1_carnet">Número de Carnet <strong>(Esta será tu contraseña)</strong></label>
                <input class="form-control"
                       formControlName="p1_carnet"
                       id="p1_carnet"
                       oninput="this.value = this.value.toUpperCase();this.value = this.value.replace(/[A-Za-z ]/g, '')"
                       type="text">
                <div *ngIf="empresaGroup.get('p1_carnet').status === 'INVALID' && empresaGroup.get('p1_carnet').dirty"
                     class="alert alert-danger">
                  <strong>El carnet del participante es obligatorio</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="p1_celular">Celular</label>
                <input class="form-control" formControlName="p1_celular" id="p1_celular"
                       oninput="this.value = this.value.toUpperCase()"
                       type="text">
                <div *ngIf="empresaGroup.get('p1_celular').status === 'INVALID' && empresaGroup.get('p1_celular').dirty"
                     class="alert alert-danger">
                  <strong>El celular del participante es obligatorio</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="p1_cargo">Cargo en la Empresa</label>
                <input class="form-control" formControlName="p1_cargo" id="p1_cargo"
                       oninput="this.value = this.value.toUpperCase()"
                       type="text">
                <div *ngIf="empresaGroup.get('p1_cargo').status === 'INVALID' && empresaGroup.get('p1_cargo').dirty"
                     class="alert alert-danger">
                  <strong>El cargo del participante es obligatorio</strong>
                </div>
              </div>
              <div class="col-lg-4 form-group">
                <label for="email">Correo Electrónico (Opcional)</label>
                <input class="form-control" formControlName="email" id="email" name="email"
                       placeholder="Correo Electronico"
                       type="email">
              </div>
              <div *ngIf="router.url !== '/auth/signup'" class="col-lg-4 form-group">
                <label for="max_participantes">Maximo de participantes</label>
                <input class="form-control" formControlName="max_participantes" id="max_participantes" max="10"
                       min="0" name="max_participantes" placeholder="Maximo de participantes" type="number">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Registrar Participante Adicional (Opcional)</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-lg-6 form-group">
                <label for="p2_nombres">Nombres</label>
                <input class="form-control" formControlName="p2_nombres" id="p2_nombres"
                       oninput="this.value = this.value.toUpperCase()"
                       type="text">
              </div>
              <div class="col-lg-6">
                <label for="p2_apellidos">Apellidos</label>
                <input class="form-control" formControlName="p2_apellidos" id="p2_apellidos"
                       oninput="this.value = this.value.toUpperCase()" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 form-group">
                <label for="p2_carnet">Carnet</label>
                <input class="form-control"
                       formControlName="p2_carnet"
                       id="p2_carnet"
                       oninput="this.value = this.value.toUpperCase();this.value = this.value.replace(/[A-Za-z ]/g, '')"
                       type="text">
              </div>
              <div class="col-lg-4 form-group">
                <label for="p2_celular">Celular</label>
                <input class="form-control" formControlName="p2_celular" id="p2_celular"
                       oninput="this.value = this.value.toUpperCase()"
                       type="text">
              </div>
              <div class="col-lg-4">
                <label for="p2_cargo">Cargo</label>
                <input class="form-control" formControlName="p2_cargo" id="p2_cargo"
                       oninput="this.value = this.value.toUpperCase()"
                       type="text">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            <span *ngIf="router.url !== '/auth/signup'">Tipo de Empresa y Habilitación</span>
            <span *ngIf="router.url === '/auth/signup'">Subir Logo (Opcional) y Voucher</span>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-lg-4 form-group">
                <label for="tipo_empresa">Tipo de Empresa</label><br>
                <select name="tipo_empresa" id="tipo_empresa" class="form-control form-control-sm" formControlName="tipo_empresa"><option value="VENDEDOR">VENDEDOR</option>
                  <option value="COMPRADOR">COMPRADOR</option>
                  <option value="COMPRADOR-VENDEDOR">COMPRADOR-VENDEDOR</option>
                </select>
              </div>
              <div class="col-lg-4 form-group">
                <label for="logo">Subir Logo (Opcional)</label>
                <input #logo accept='image/*' id="logo" title="Subir logo" type="file">
              </div>
              <div class="col-lg-4 form-group">
                <label for="voucher">Subir Voucher</label><br>
                <input #voucher accept='image/*' id="voucher" title="Subir voucher" type="file">
              </div>
              <div *ngIf="router.url !== '/auth/signup'" class="col-lg-4 form-group">
                <nb-checkbox formControlName="especial" name="especial" value=0>Empresa Especial</nb-checkbox>
              </div>
              <div *ngIf="router.url !== '/auth/signup'" class="col-lg-4 form-group">
                <nb-checkbox formControlName="habilitado" name="habilitado" value=1>Empresa Habilitada</nb-checkbox>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <ngx-ofertademanda (ofertas_demandas)="setData($event)"></ngx-ofertademanda>
        </nb-card>
        <!--        <nb-card>
                  <nb-card-header>
                    Ofertas y Demandas Empresariales
                  </nb-card-header>
                  <nb-card-body>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label for="oferta">Resumen de Oferta</label>
                        <textarea formControlName="oferta" id="oferta" name="oferta" class="form-control" cols="30" rows="7"
                                  placeholder="Que productos o servicios ofrece su empresa"></textarea>
                        <div class="alert alert-danger"
                             *ngIf="empresaGroup.get('oferta').status === 'INVALID' && empresaGroup.get('oferta').dirty">
                          <strong>La oferta de su producto es obligatoria</strong>
                        </div>
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="demanda">Resumen de Demanda</label>
                        <textarea formControlName="demanda" id="demanda" name="demanda" class="form-control" cols="30" rows="7"
                                  placeholder="Que productos o servicios necesita su empresa"></textarea>
                        <div class="alert alert-danger"
                             *ngIf="empresaGroup.get('demanda').status === 'INVALID' && empresaGroup.get('demanda').dirty">
                          <strong>La demanda de su producto es obligatoria</strong>
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>-->
        <button [disabled]="empresaGroup.status === 'INVALID' || empresaGroup.untouched" class="btn btn-primary"
                type="submit">Registrar usuario
        </button>&nbsp;&nbsp;
        <a *ngIf="router.url === '/auth/signup'" class="btn btn-danger" routerLink="login">Cancelar</a>
      </form>
    </div>
  </div>
</div>

