<div [class.empresa-container]="router.url === '/auth/signup'">
  <div class="row">
    <div class="col-md-12">
      <form (submit)="store()"
            role="form"
            [formGroup]="empresaGroup"
            *ngIf="rubros !== null">
        <h3 class="signup-title">Registro de Empresa</h3>
        <div class="alert alert-success" *ngIf="mensaje !== null">
          <strong>{{ mensaje }}</strong>
        </div>
        <div class="alert alert-danger" *ngIf="error !== null">
          <strong>{{ error }}</strong>
        </div>
        <br><br>
        <nb-card>
          <nb-card-header>
            Datos de la Empresa
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="rubro_id">Lista de rubros</label>
                <select name="rubro_id" id="rubro_id" formControlName="rubro_id" class="form-control">
                  <option [value]="rubro.rubro_id" *ngFor="let rubro of rubros">{{ rubro.nombre }}</option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('rubro_id').status === 'INVALID' && empresaGroup.get('rubro_id').dirty">
                  <strong>Elija un rubro</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="nombre">Nombre de la empresa</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" id="nombre" class="form-control" formControlName="nombre" name="nombre" placeholder="Empresa">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('nombre').status === 'INVALID' && empresaGroup.get('nombre').dirty">
                  <strong>El nombre de la empresa es obligatorio</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="nit">NIT</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" id="nit" class="form-control" formControlName="nit" name="nit" placeholder="NIT">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('nit').status === 'INVALID'&& empresaGroup.get('nit').dirty">
                  <strong>Registrar el NIT es obligatorio</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="pagina_web">Página web (Opcional)</label>
                <input type="url" id="pagina_web" class="form-control" formControlName="pagina_web" name="pagina_web" placeholder="Pagina Web">
              </div>
              <div class="col-sm-4 form-group">
                <label for="ciudad_localidad">Ciudad/Localidad</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" id="ciudad_localidad" class="form-control" formControlName="ciudad_localidad" name="ciudad_localidad" placeholder="Ciudad o Localidad">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('ciudad_localidad').status === 'INVALID' && empresaGroup.get('ciudad_localidad').dirty">
                  <strong>Ingresa la ciudad o localidad de la empresa</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="direccion">Dirección</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" id="direccion" class="form-control" formControlName="direccion" name="direccion" placeholder="Direccion">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('direccion').status === 'INVALID' && empresaGroup.get('direccion').dirty">
                  <strong>La direccion de la empresa es obligatoria</strong>
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label for="representante_legal">Representante legal</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" id="representante_legal" class="form-control" formControlName="representante_legal" name="representante_legal" placeholder="Representante Legal">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('representante_legal').status === 'INVALID' && empresaGroup.get('representante_legal').dirty">
                  <strong>El representante legal de la empresa es obligatoria</strong>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Mi Cuenta de Acceso
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="p1_nombres">Nombres <strong>(tu primer nombre en minúsculas es tu cuenta)</strong></label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="p1_nombres" formControlName="p1_nombres">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('p1_nombres').status === 'INVALID' && empresaGroup.get('p1_nombres').dirty">
                  <strong>Los nombres son obligatorios</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="p1_apellidos">Apellidos</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="p1_apellidos" formControlName="p1_apellidos">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('p1_apellidos').status === 'INVALID' && empresaGroup.get('p1_apellidos').dirty">
                  <strong>Los apellidos son obligatorios</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="p1_carnet">Número de Carnet <strong>(Esta será tu contraseña)</strong></label>
                <input type="text" oninput="this.value = this.value.toUpperCase();this.value = this.value.replace(/[A-Za-z ]/g, '')" class="form-control" id="p1_carnet" formControlName="p1_carnet">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('p1_carnet').status === 'INVALID' && empresaGroup.get('p1_carnet').dirty">
                  <strong>El carnet del participante es obligatorio</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="p1_celular">Celular</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="p1_celular" formControlName="p1_celular">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('p1_celular').status === 'INVALID' && empresaGroup.get('p1_celular').dirty">
                  <strong>El celular del participante es obligatorio</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="p1_cargo">Cargo en la Empresa</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="p1_cargo" formControlName="p1_cargo">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('p1_cargo').status === 'INVALID' && empresaGroup.get('p1_cargo').dirty">
                  <strong>El cargo del participante es obligatorio</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="email">Correo Electrónico (Opcional)</label>
                <input type="email" id="email" class="form-control" formControlName="email" name="email" placeholder="Correo Electronico">
              </div>
              <div class="col-sm-4 form-group" *ngIf="router.url !== '/auth/signup'">
                <label for="max_participantes">Maximo de participantes</label>
                <input type="number" id="max_participantes" class="form-control" formControlName="max_participantes" name="max_participantes" min="0" max="10" placeholder="Maximo de participantes">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Registrar Participante Adicional (Opcional)</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="p2_nombres">Nombres</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="p2_nombres" formControlName="p2_nombres">
              </div>
              <div class="col-sm-6">
                <label for="p2_apellidos">Apellidos</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="p2_apellidos" formControlName="p2_apellidos">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="p2_carnet">Carnet</label>
                <input type="text" oninput="this.value = this.value.toUpperCase();this.value = this.value.replace(/[A-Za-z ]/g, '')" class="form-control" id="p2_carnet" formControlName="p2_carnet">
              </div>
              <div class="col-sm-4 form-group">
                <label for="p2_celular">Celular</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="p2_celular" formControlName="p2_celular">
              </div>
              <div class="col-sm-4">
                <label for="p2_cargo">Cargo</label>
                <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="p2_cargo" formControlName="p2_cargo">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            <span *ngIf="router.url !== '/auth/signup'">Tipo de Empresa y Habilitación</span>
            <span *ngIf="router.url === '/auth/signup'">Subir Logo (Opcional) y Voucher</span>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="logo">Subir Logo (Opcional)</label>
                <input type="file" id="logo" #logo title="Subir logo" accept='image/*'>
              </div>
              <div class="col-sm-4 form-group">
                <label for="voucher">Subir Voucher</label><br>
                <input type="file" id="voucher" #voucher title="Subir voucher" accept='image/*'>
              </div>
              <div class="col-sm-4 form-group" *ngIf="router.url !== '/auth/signup'">
                <nb-checkbox value=0 formControlName="especial" name="especial">Empresa Especial</nb-checkbox>
              </div>
              <div class="col-sm-4 form-group" *ngIf="router.url !== '/auth/signup'">
                <nb-checkbox value=1 formControlName="habilitado" name="habilitado">Empresa Habilitada</nb-checkbox>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Ofertas y Demandas Empresariales
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="oferta">Resumen de Oferta</label>
                <textarea formControlName="oferta" id="oferta" name="oferta" class="form-control" cols="30" rows="7"
                          placeholder="Que productos o servicios ofrece su empresa"></textarea>
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('oferta').status === 'INVALID' && empresaGroup.get('oferta').dirty">
                  <strong>La oferta de su producto es obligatoria</strong>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="demanda">Resumen de Demanda</label>
                <textarea formControlName="demanda" id="demanda" name="demanda" class="form-control" cols="30" rows="7"
                          placeholder="Que productos o servicios necesita su empresa"></textarea>
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('demanda').status === 'INVALID' && empresaGroup.get('demanda').dirty">
                  <strong>La demanda de su producto es obligatoria</strong>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <button type="submit" [disabled]="empresaGroup.status === 'INVALID' || empresaGroup.untouched" class="btn btn-primary">Registrar usuario</button>&nbsp;&nbsp;
        <a routerLink="login" class="btn btn-danger" *ngIf="router.url === '/auth/signup'">Cancelar</a>
      </form>
    </div>
  </div>
</div>
