<nb-card>
  <nb-card-header>
    <button class="btn btn-primary" (click)="getOfertas()" [disabled]="tipo === 'oferta'">Ofertas</button> &nbsp;&nbsp;
    <button class="btn btn-warning" (click)="getDemandas()" [disabled]="tipo === 'demanda'">Demandas</button>
  </nb-card-header>
  <nb-card-body>
    <form (submit)="store()">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <select name="producto_servicio" id="producto_servicio" [(ngModel)]="producto_servicio" class="form-control">
              <option value="producto">Producto</option>
              <option value="servicio">Servicio</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              [(ngModel)]="descripcion"
              oninput="this.value = this.value.toUpperCase()"
              type="text"
              maxlength="50"
              name="descripcion" id="descripcion" class="form-control"
              placeholder="Descripción de la {{tipo}}" aria-describedby="helpId">
          </div>
        </div>
        <div class="col-lg-4">
          <button type="submit" class="btn btn-primary btn-block" *ngIf="tipo === 'oferta'">GUARDAR OFERTA</button>
          <button type="submit" class="btn btn-warning btn-block" *ngIf="tipo === 'demanda'">GUARDAR DEMANDA</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<div class="row">
  <div class="col-lg-6">
    <nb-card *ngIf="productos !== null">
      <nb-card-header>{{ tipo | uppercase }} DE PRODUCTOS</nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>N.</th>
              <th>Producto</th>
              <th>{{ tipo | titlecase }}</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of productos; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ record.producto_servicio }}</td>
              <td>
                <span *ngIf="record.edit === false">{{ record.descripcion }}</span>
                <input *ngIf="record.edit === true" type="text" value="{{record.descripcion}}" class="form-control">
              </td>
              <td>
                <a title="Editar {{tipo}}" class="text-warning"
                   *ngIf="record.edit === false"
                        (click)="edit(record)"><i class="fa fa-edit"></i></a>
                <a title="Eliminar {{tipo}}" class="text-danger"
                   *ngIf="record.edit === false"
                   (click)="destroy(record.oferta_demanda_id)"><i class="fa fa-trash"></i></a>
                <a title="Actualizar {{tipo}}" class="text-success"
                   (click)="update(record)"
                   *ngIf="record.edit === true"><i class="fa fa-check"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card *ngIf="servicios !== null">
      <nb-card-header>{{ tipo | uppercase }} DE  SERVICIOS</nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>N.</th>
              <th>Servicio</th>
              <th>{{ tipo | titlecase }}</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of servicios; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                {{ record.producto_servicio }}
              </td>
              <td>
                <span *ngIf="record.edit === false">{{ record.descripcion }}</span>
                <input *ngIf="record.edit === true" type="text" value="{{record.descripcion}}" class="form-control">
              </td>
              <td>
                <a title="Editar {{tipo}}" class="text-warning"
                   *ngIf="record.edit === false"
                   (click)="edit(record)"><i class="fa fa-edit"></i></a>
                <a title="Eliminar {{tipo}}" class="text-danger"
                   *ngIf="record.edit === false"
                   (click)="destroy(record.oferta_demanda_id)"><i class="fa fa-trash"></i></a>
                <a title="Actualizar {{tipo}}" class="text-success"
                   (click)="update(record)"
                   *ngIf="record.edit === true"><i class="fa fa-check"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
