<nb-card>
  <nb-card-header>
    <button class="btn btn-primary" (click)="getOfertas()" [disabled]="tipo === 'oferta'">Ofertas</button> &nbsp;&nbsp;
    <button class="btn btn-warning" (click)="getDemandas()" [disabled]="tipo === 'demanda'">Demandas</button>
  </nb-card-header>
  <nb-card-body>
    <form (submit)="store()">
      <div class="row">
        <div class="col-lg-8">
          <div class="form-group">
            <input
              [(ngModel)]="descripcion"
              type="text"
              name="descripcion" id="descripcion" class="form-control"
              placeholder="Descripción de la {{tipo}}" aria-describedby="helpId">
          </div>
        </div>
        <div class="col-lg-4">
          <button type="submit" class="btn btn-primary btn-block" *ngIf="tipo === 'oferta'">GUARDAR OFERTA</button>
          <button type="submit" class="btn btn-warning btn-block" *ngIf="tipo === 'demanda'">GUARDAR DEMANDA</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="oferta_demandas !== null">
  <nb-card-body>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>N.</th>
          <th>Oferta</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of oferta_demandas; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ record.descripcion }}</td>
          <td>
            <button class="btn btn-sm btn-danger">Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
