<div class="row">
  <div class="col-md-12">
    <nb-card *ngIf="noticia !== null">
      <nb-card-header>
        EDITAR NOTICIA
      </nb-card-header>
      <nb-card-body>
        <form (submit)="update()"  [formGroup]="noticiaGroup" class="form">
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" formControlName="titulo" name="titulo" id="titulo" required autofocus>
          </div>
          <div class="form-group">
            <label for="contenido">Contenido</label>
            <ckeditor [config]="{ extraPlugins: 'divarea', height: '320' }"
                      id="contenido" formControlName="contenido"></ckeditor>
          </div>
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">ACTUALIZAR</button>&nbsp;&nbsp;
            <a class="btn btn-default" (click)="cancel()">CANCELAR</a>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
