<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Usuarios registrados</nb-card-header>
      <nb-card-body>
        <form (submit)="buscar()" class="rueda-search" [formGroup]="buscarGroup">
          <input type="search" formControlName="search" name="search" placeholder="buscar empresa">
          <button> Buscar </button>
        </form>
        <br><br>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>N.</th>
              <th>Empresa</th>
              <th>Empresa con quien se reunio</th>
              <th>Comentario</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empresa of empresas; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{empresa.empresa}}</td>
              <td>{{empresa.reunion_con}}</td>
              <td>{{empresa.comentario}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
