<div class="row" *ngIf="habilitado === 0">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div *ngIf="habilitado !== null && habilitado === 0" class="alerta">
          Su empresa no esta habilitada, por favor pague su voucher.
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="habilitado === 1">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Reuniones Agendadas
      </nb-card-header>
      <nb-card-body>
        <h3>{{mi_empresa}}</h3>
        <div *ngIf="reuniones !== null && reuniones.length === 0" class="alerta">
          No existen reuniones agendadas
          <br><br>
        </div>
        <div class="table-responsive" *ngIf="reuniones !== null && reuniones.length > 0">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Empresa Solicitante</th>
              <th>Empresa Demandada</th>
              <th>N. Mesa</th>
              <th>Horario</th>
              <th>Estado de Reunión</th>
              <th>Evaluacion</th>
              <th>Cancelar Reunion</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reunion of reuniones; let i = index">
              <td>
                <a class="info" (click)="info(reunion.empresa_solicitante, reunion.fecha_hora_registro_reunion)">{{reunion.empresa_solicitante.nombre }}</a></td>
              <td>
                <a class="info" (click)="info(reunion.empresa_demandada, reunion.fecha_hora_registro_reunion)">{{ reunion.empresa_demandada.nombre }}</a>
              </td>
              <td>{{reunion.mesa}}</td>
              <td>{{reunion.desde | date: 'dd MMM. yyy HH:mm'}} - {{reunion.hasta | date: 'HH:mm'}}</td>
              <td>{{reunion.resultado}}</td>
              <td>
                <button
                  class="btn btn-sm btn-success"
                  (click)="go(reunion.reunion_id)">
                  <i class="fa fa-list"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="cancelar(i)">Cancelar</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center" *ngIf="admin">
          <a [routerLink]="['/admin/empresa/listar']"> <i class="fa fa-arrow-left"></i> Volver al listado de empresas registradas</a>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
