<img [src]="campo_ferial" alt="Campo Ferial" height="72" class="logo-left-top">
<img [src]="expoteco" alt="Expoteco" height="72" class="logo-right-top">
<div class="row">
  <div class="col-sm-12">
    <form (submit)="login()" [formGroup]="loginGroup" role="form">
      <legend class="legend-login">
        <h2><span>RUEDA</span>LOGIN</h2>
        <img [src]="logo" alt="Rueda de Negocios" height="94">
        <h4 *ngIf="mensaje.length > 0"><div class="alert-danger">{{mensaje}}</div></h4>
      </legend>
      <div class="form-group">
        <label for="cuenta">Cuenta</label>
        <input type="text" id="cuenta" #cuenta class="form-control" formControlName="cuenta" name="cuenta" id="cuenta" placeholder="Cuenta">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" class="form-control" formControlName="password" name="password" id="password" placeholder="Contraseña">
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="loginGroup.status === 'INVALID'" class="btn-login">Ingresar</button>

      </div>
    </form>
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <a class="ayuda">Ayuda</a>
  </div>
  <div class="col-sm-6">
    <a routerLink="/auth/signup" class="create-account">No tengo una cuenta</a>
  </div>
</div>
