<div class="row">
  <div class="offset-md-2 col-md-8 col-sm-12">
    <form (submit)="login()" [formGroup]="loginGroup" role="form">
      <legend class="legend-login">
        <h2><span>RUEDA</span>LOGIN</h2>
        <i class="fa fa-user"></i>
      </legend>
      <div class="form-group">
        <input type="email" #email class="form-control" formControlName="email" name="email" id="email" placeholder="Correo Electrónico">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="password" name="password" id="password" placeholder="Contraseña">
      </div>
      <div class="text-center">
        <button type="submit" class="btn-login">Ingresar</button>
        <a routerLink="" class="create-account">No tengo una cuenta</a>
      </div>
    </form>
  </div>
</div>
