<a href="https://virtual.campoferial3dejulio.com" target="_blank">
  <img alt="Campo Ferial 3 de Julio Virtual" class="logo-left-top" height="72"
       src="assets/images/campo_feria_virtual.png">
</a>
<img alt="Feria Internacional de la Minería" class="logo-right-top" height="92" src="assets/images/fimem.jpeg">
<!--<img alt="Feria Internacional de la Minería" class="logo-right-top" height="72" src="assets/images/bioseguridad.jpeg">-->
<div class="row">
  <div class="col-sm-12">
    <form (submit)="login()" [formGroup]="loginGroup" role="form">
      <legend class="legend-login">
        <img alt="Rueda de Negocios" height="150" src="assets/images/rueda-before.png">
        <h4 *ngIf="mensaje.length > 0">
          <div class="alert-danger">{{ mensaje }}</div>
        </h4>
      </legend>
      <div class="form-group">
        <label for="cuenta">Cuenta</label>
        <input #cuenta class="form-control" formControlName="cuenta" id="cuenta"
               name="cuenta" oninput="this.value = this.value.toLowerCase();"
               placeholder="Ingrese su primer nombre y carnet en minúsculas. Ej. manuel7578458"
               type="text">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input class="form-control" formControlName="password" id="password" name="password"
               placeholder="Ingrese su número de carnet" type="password">
      </div>
      <div class="text-center">
        <button [disabled]="loginGroup.status === 'INVALID'" class="btn-login" type="submit">Ingresar</button>

      </div>
    </form>
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <a (click)="ayuda()" class="ayuda">Olvide mi contraseña</a>
  </div>
  <div class="col-sm-6">
    <a class="create-account" routerLink="/auth/signup">No tengo una cuenta</a>
  </div>
</div>
