<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Reuniones Agendadas
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="reuniones !== null && reuniones.length === 0" class="alerta">
          No existen reuniones agendadas
          <br><br>
        </div>
        <div class="table-responsive" *ngIf="reuniones !== null && reuniones.length > 0">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Empresa Solicitante</th>
              <th>Empresa Demandada</th>
              <th>N. Mesa</th>
              <th>Horario</th>
              <th>Estado de Reunión</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reunion of reuniones">
              <td>
                <a class="info" (click)="info(reunion.empresa_solicitante, reunion.fecha_hora_registro_reunion)">{{reunion.empresa_solicitante.nombre }}</a></td>
              <td>
                <a class="info" (click)="info(reunion.empresa_demandada, reunion.fecha_hora_registro_reunion)">{{ reunion.empresa_demandada.nombre }}</a>
              </td>
              <td>{{reunion.mesa}}</td>
              <td>{{reunion.inicio}} - {{reunion.fin}}</td>
              <td>{{reunion.resultado}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
