<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Reuniones Agendadas
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Empresa Solicitante</th>
              <th>Empresa Demandada</th>
              <th>N. Mesa</th>
              <th>Horario</th>
              <th>Estado de Reunión</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reunion of reuniones">
              <td>
                <a (click)="info(reunion.empresa_solicitante_id)" title="Información"><i class="fa fa-info"></i></a>
                {{reunion.empresa_solicitante}}</td>
              <td>
                <a (click)="info(reunion.empresa_demandada_id)" title="Información"><i class="fa fa-info"></i></a>
                {{reunion.empresa_demandada}}
              </td>
              <td>{{reunion.mesa}}</td>
              <td>{{reunion.inicio}} - {{reunion.fin}}</td>
              <td>{{reunion.resultado}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
