<div class="row">
  <div class="col-md-12">
    <nb-card *ngFor="let noticia of noticias">
      <nb-card-header>{{noticia.titulo}}</nb-card-header>
      <nb-card-body [innerHTML]="noticia.contenido"></nb-card-body>
    </nb-card>
    <!--    <nb-card>
          <nb-card-header>
            Cronograma de Actividades "Rueda de Negocios"
          </nb-card-header>
          <nb-card-body>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>DIA</th>
                  <th>ACTIVIDAD</th>
                  <th>HORARIO</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td rowspan="4">Lunes 12 de noviembre</td>
                  <td>Ingreso De los participantes, acreditación y entrega de citas y materiales a los empresarios</td>
                  <td>14:00-14:30</td>
                </tr>
                <tr>
                  <td>Preámbulo (Cuerpo de baile)</td>
                  <td>14:30-14:40</td>
                </tr>
                <tr>
                  <td>Palabras de inauguración y explicación de las reglas</td>
                  <td>14:40-15:00</td>
                </tr>
                <tr>
                  <td>Inicio de reuniones 1ra jornada de la Rueda de negocios</td>
                  <td>15:00-18:00</td>
                </tr>
                <tr>
                  <td rowspan="2">Martes 13 de noviembre</td>
                  <td>Inicio de reuniones 2da jornada de la Rueda de negocios (mañana)</td>
                  <td>9:00-12:00</td>
                </tr>
                <tr>
                  <td>Reuniones 2da jornada de la Rueda de negocios (Tarde)</td>
                  <td>15:00-18:00</td>
                </tr>
                <tr>
                  <td rowspan="3">Miércoles 14 de noviembre</td>
                  <td>Reuniones 3ra jornada de la Rueda de negocios (mañana)</td>
                  <td>9:00-12:00</td>
                </tr>
                <tr>
                  <td>Resultados provisionales de la XVII Versión de la Rueda de Negocios</td>
                  <td>12:00-12:10</td>
                </tr>
                <tr>
                  <td>Palabras de clausura y cierre del evento</td>
                  <td>12:10–12:30</td>
                </tr>
                </tbody>
              </table>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            ¿Qué es la Rueda de Negocios?
          </nb-card-header>
          <nb-card-body>
            <p>
              La rueda de negocios es un Espacio de encuentros (20-30 minutos) que reúne a empresarios, emprendedores y a entidades de los diversos rubros, con la finalidad de establecer vínculos comerciales entre ellos y así crear una plataforma de difusión de productos y servicios.
            </p>
            <img src="../../../assets/images/rueda1.png" class="rueda-img">
            <p>
              Las citas se generan en función de las <strong>OFERTAS</strong> y <strong>DEMANDAS</strong> de cada empresa inscrita.
            </p>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            ¿Cúal es el coste?
          </nb-card-header>
          <nb-card-body>
            <p>
              Para el caso de los expositores en nuestra feria EXPOTECO 2019 el costo es totalmente gratuito.
            </p>
            <p>
              Para otras empresas y emprendedores, se les da la opción de inscribirse con el 50% de descuento es decir sólo <strong>100 [Bs] hasta el 30 de octubre de 2019</strong>, pasado este plazo se cobrará el precio regular de <strong>200 [Bs]</strong>.
            </p>
          </nb-card-body>
        </nb-card>-->
    <nb-card>
      <nb-card-header>
        ¿Quienes pueden participar?
      </nb-card-header>
      <nb-card-body>
        <p>
          Todas las empresas o emprendedores de los siguientes rubros.
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th>RUBRO
                <input [(ngModel)]="search"
                       class="search-rubros"
                       placeholder="Buscar..." type="search">
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rubro of rubros; let i = index">
              <td *ngIf="rubro.nombre.toLowerCase().indexOf(search.toLowerCase()) !== -1">{{ i + 1 }}</td>
              <td
                *ngIf="rubro.nombre.toLowerCase().indexOf(search.toLowerCase()) !== -1">{{ rubro.nombre }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
