<div [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'"
     class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation" href="#"><i class="nb-menu"></i></a>
    <div (click)="goToHome()" class="logo">Rueda</div>
  </div>
  <!--  <ngx-theme-switcher></ngx-theme-switcher>-->
  <img alt="Rueda de negocios" class="menu-logo" src="assets/images/rueda-before.png">
  <img alt="Campo Ferial 3 de Julio" class="menu-logo" src="assets/images/campo_ferial.png">
  <img alt="Campo Ferial 3 de Julio Virtual" class="menu-logo" src="assets/images/campo_feria_virtual.png">
<!--  <img alt="FIMEM 2020" class="menu-logo" src="assets/images/fimem.jpeg">-->
  <img alt="RUEDA DE BIOSEGURIDAD 2020" class="menu-logo" src="assets/images/bioseguridad.jpeg">
</div>

<div class="header-container">
  <nb-actions
    [class.left]="position === 'inverse'"
    [class.right]="position === 'normal'"
    size="medium">
    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user [name]="usuario?.cuenta" [nbContextMenu]="userMenu"></nb-user>
    </nb-action>
  </nb-actions>
</div>
