<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Rueda</div>
  </div>
<!--  <ngx-theme-switcher></ngx-theme-switcher>-->
  <img class="menu-logo" src="assets/images/rueda-before.png" alt="Rueda de negocios">
  <img class="menu-logo" src="assets/images/campo_ferial.png" alt="Campo Ferial 3 de Julio">
  <img class="menu-logo" src="assets/images/campo_feria_virtual.png" alt="Campo Ferial 3 de Julio Virtual">
  <img class="menu-logo" src="assets/images/gotasoft.png" alt="GOTASOFT">
</div>

<div class="header-container">
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu" [name]="usuario?.cuenta"></nb-user>
    </nb-action>
  </nb-actions>
</div>
