<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Horarios no disponibles</nb-card-header>
      <nb-card-body>
        <form (submit)="store()" role="form" [formGroup]="horarioOcGroup" *ngIf="horarios!=null ">
          <div class="row">
            <input hidden name="empresa_id" formControlName="empresa_id"/>
            <div class="col-sm-6 form-group">
              <label>Horario</label>
              <select name="horario_id" formControlName="horario_id" class="form-control">
                <option [value]="horario.horario_id" *ngFor="let horario of horarios">{{ horario.inicio }} - {{horario.fin}}</option>
              </select>
            </div>

          </div>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
