<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h4>Horarios Disponibles</h4>
        <!--        <button class="btn-green" (click)="crear()">ACTUALIZAR</button>-->
        <!--        <button class="btn-green" (click)="updateHorariosOcupados()">ACTUALIZAR</button>-->
      </nb-card-header>
      <nb-card-body class="bg-white">

        <h5 class="texto-ayuda">
          Por favor seleccione los horarios en los cuales <strong>NO</strong> tendrá disponibilidad de tiempo, estos se
          marcarán de color rojo.
        </h5>
        <br>
        <div class="layout bg-white">
          <div *ngFor="let horario of horarios"
               [class.busy]="horario.ocupado"
               [class.free]="!horario.ocupado"
               class="schedule-card">
            <input (click)="updateHorario(horario)" [checked]="horario.ocupado"
                   [value]="horario.ocupado"
                   class="checkbox"
                   type="checkbox">

            <label class="container-check">
              <span *ngIf="horario.ocupado">Horario no disponible</span>
              <span *ngIf="!horario.ocupado">Horario disponible</span>
              <span class="checkmark"></span>
            </label>
            <h1 class="date">{{horario.inicio | date: 'd/M/y'}}</h1>
            <h3 class="time">{{horario.inicio | date: 'HH:mm:ss'}} - {{horario.fin | date: 'HH:mm:ss'}}</h3>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
