<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Horarios no disponibles
<!--        <button class="btn-green" (click)="crear()">ACTUALIZAR</button>-->
<!--        <button class="btn-green" (click)="updateHorariosOcupados()">ACTUALIZAR</button>-->
      </nb-card-header>
      <nb-card-body class="bg-white">
        <div class="layout bg-white">
          <div class="schedule-card"
               [class.busy]="horario.ocupado"
               [class.free]="!horario.ocupado"
               *ngFor="let horario of horarios">
            <input type="checkbox" [checked]="horario.ocupado"
                   (click)="updateHorario(horario)"
                   class="checkbox"
                   [value]="horario.ocupado">

            <label class="container-check">
              <span *ngIf="horario.ocupado">Horario no disponible</span>
              <span *ngIf="!horario.ocupado">Horario disponible</span>
              <span class="checkmark"></span>
            </label>
            <h1 class="date">{{horario.inicio | date: 'd/M/y'}}</h1>
            <h3 class="time">{{horario.inicio | date: 'HH:mm:ss'}} - {{horario.fin | date: 'HH:mm:ss'}}</h3>
          </div>
        </div>
<!--        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Acciones</th>
              <th>N.</th>
              <th>Inicio</th>
              <th>Fin</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let horario of horarios; let i = index">
              <td class="btn-acciones">
                <a class="text-danger" (click)="onDeleteConfirm(horario, i)"><i class="fa fa-trash"></i></a>
              </td>
              <td>{{ i + 1 }}</td>
              <td>{{horario.horario.inicio}}</td>
              <td>{{horario.horario.fin}}</td>
            </tr>
            </tbody>
          </table>
        </div>-->
      </nb-card-body>
    </nb-card>
  </div>
</div>
