$dark-primary: #00796B;
$primary: #009688;
$primary-text: #212121;
$white: #eee;
$accent: #E91E63;
.btn-green {
  margin-top: -20px;
  margin-left: auto;
  display: block;
  padding: 1em 1.3em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: $primary;
  color: $white;
  text-transform: uppercase;
  outline: none;
  backface-visibility: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8em;
  box-shadow: 0 4px darken($primary,10%);
}
.btn-green:hover {
  box-shadow: 0 2px darken($primary,10%);
}
.btn-green:active {
  box-shadow: none;
}

/*custom checkbox*/
.container-check {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: $dark-primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
}
.layout .schedule-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 280px;
  height: 280px;
  box-shadow: 0 0 4px $primary;
  padding: .5em;
  color: white;
}
.busy {
  background-color: $accent;
}
.free {
  background-color: $primary;
}
.date, .time {
  text-align: center;
  color: white;
}
.date {
  font-size: 1em;
}
.time {
  font-size: 1.8em;
}
.checkbox {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10000;
}
