
<nb-card style="height: 100%;">
  <nb-card-header>
    Añadir nuevo horario
  </nb-card-header>

  <nb-card-body>
      <div class="row">
        <div class="col-sm-6 form-group">
          Inicio
          <angular2-date-picker (onDateSelect)="onInicio($event)" [(ngModel)]="ini" [settings]="settings"></angular2-date-picker>

        </div>
        <div class="col-sm-6 form-group">
          Fin
          <angular2-date-picker (onDateSelect)="onFin($event)" [(ngModel)]="fi" [settings]="settings"></angular2-date-picker>
        </div>
      </div>
      <button class="btn btn-primary" (click)="store()">Guardar</button>
  </nb-card-body>
</nb-card>