<div class="row">
  <div class="offset-3 col-md-6">
    <nb-card style="height: 550px;">
      <nb-card-header>
        Añadir Nuevo Horario de Reunión
      </nb-card-header>
      <nb-card-body>
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="inicio">Desde</label>
              <br>
              <input (change)="ini=$event.target.value" [value]="ini" id="inicio" type="datetime-local"/>
            </div>
            <div class="col-md-6">
              <label for="fin">Hasta</label>
              <br>
              <input (change)="fi=$event.target.value" [value]="fi" id="fin" type="datetime-local"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <button (click)="store()" class="ml-auto btn btn-sm btn-info group">Guardar</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
