<div class="row">
  <div class="offset-3 col-md-6">
    <nb-card style="height: 550px;">
      <nb-card-header>
        Añadir Nuevo Horario de Reunión
      </nb-card-header>
      <nb-card-body>
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="inicio">Desde</label>
              <br>
              <input type="datetime-local" id="inicio" [value]="ini" (change)="ini=$event.target.value"/>

            </div>
            <div class="col-md-6">
              <label for="fin">Hasta</label>
              <br>
              <input type="datetime-local" id="fin" [value]="fi" (change)="fi=$event.target.value"/>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-sm btn-success group" (click)="store()">Guardar</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
