<div [class.empresa-container]="router.url === '/auth/signup'">
  <div class="row">
    <div class="col-md-12">
      <form (submit)="store()"
            role="form"
            [formGroup]="usuarioGroup">
        <nb-card>
          <nb-card-header>
            <h3 class="signup-title">Registro de Administradores</h3>
            <div class="alert alert-success" *ngIf="mensaje.length > 0">
              <strong>{{mensaje}}</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error.length > 0">
              <strong>{{error}}</strong>
            </div>
          </nb-card-header>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Datos del Usuario
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="email">Cuenta <br>(no debe contener espacios y estar en minúscula)</label>
                <input type="email" id="email" class="form-control" formControlName="email" name="email" placeholder="Cuenta">
              </div>
              <div class="col-sm-4 form-group">
                <label for="password">Contraseña <br>(no debe contener espacios)</label>
                <input type="password"
                       id="password"
                       class="form-control"
                       formControlName="password"
                       name="password"
                       placeholder="Contraseña">
              </div>
              <div class="col-sm-4 form-group">
                <label for="password">Re ingrese su contraseña <br>(no debe contener espacios)</label>
                <input type="password"
                       id="repeated_password"
                       class="form-control"
                       formControlName="repeated_password"
                       name="repeated_password"
                       placeholder="Re ingrese contraseña">
              </div>
              <div class="col-sm-6 form-group">
                <label for="nombres">Nombres del usuario</label>
                <input type="text" id="nombres" class="form-control" formControlName="nombres" name="nombres" placeholder="Nombres">
              </div>
              <div class="col-sm-6 form-group">
                <label for="apellidos">Apellidos del usuario</label>
                <input type="text" id="apellidos" class="form-control" formControlName="apellidos" name="apellidos" placeholder="Apellidos">
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <button type="submit" [disabled]="usuarioGroup.status === 'INVALID' || usuarioGroup.untouched" class="btn btn-success">Registrar usuario</button>&nbsp;&nbsp;
        <a routerLink="/admin/usuario/listar" class="btn btn-danger">Cancelar</a>
      </form>
    </div>
  </div>
</div>
