<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Empresas Registradas
      </nb-card-header>
      <nb-card-body class="card-body">
        <form (submit)="buscar()" class="rueda-search" [formGroup]="buscarGroup">
          <select formControlName="rubro_id" name="rubro_id">
            <option value="0">TODOS LOS RUBROS</option>
            <option [value]="rubro.rubro_id"
                    *ngFor="let rubro of rubros">{{rubro.nombre}}</option>
          </select>
          <input type="search" formControlName="search" name="search" placeholder="buscar">
          <button> Buscar </button>
        </form>
        <br><br>
        <div *ngIf="empresas !== null && empresas.length === 0" class="sin-coincidencias">
          No se encontraron coincidencias
        </div>
        <div class="table-responsive" *ngIf="empresas !== null && empresas.length > 0">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>N.</th>
              <th>Logo</th>
              <th>Empresa</th>
              <th>NIT</th>
              <th>Telefono</th>
              <th>Direccion</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empresa of empresas; let i = index">
              <td>{{ i + 1 }}</td>
              <td><img height="48" src="{{logo}}{{empresa.empresa_id}}" alt="{{empresa.nombre}}"></td>
              <td><a (click)="info(empresa)" class="info">{{ empresa.nombre | uppercase }}</a></td>
              <td>{{ empresa.nit }}</td>
              <td>{{ empresa.telefono }}</td>
              <td>{{ empresa.direccion}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
