<div [class.empresa-container]="router.url === ruta_admin">
  <div class="row">
    <div class="col-md-12">
      <form (submit)="store()"
            role="form"
            [formGroup]="empresaGroup"
            *ngIf="rubros !== null && emp != null">
        <nb-card>
          <nb-card-header><h3 class="signup-title">Editar Empresa</h3></nb-card-header>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Datos de la Empresa
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="rubro_id">Lista de rubros</label>
                <select name="rubro_id" id="rubro_id" formControlName="rubro_id" class="form-control">
                  <option [value]="rubro.rubro_id" *ngFor="let rubro of rubros">{{ rubro.nombre }}</option>
                </select>
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('rubro_id').status === 'INVALID' && empresaGroup.get('rubro_id').dirty">
                  <strong>Elija un rubro</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="nombre">Nombre de la empresa</label>
                <input type="text" id="nombre" class="form-control" formControlName="nombre" name="nombre" placeholder="Empresa">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('nombre').status === 'INVALID' && empresaGroup.get('nombre').dirty">
                  <strong>El nombre de la empresa es obligatorio</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="nit">NIT</label>
                <input type="text" id="nit" class="form-control" formControlName="nit" name="nit" placeholder="NIT">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('nit').status === 'INVALID'&& empresaGroup.get('nit').dirty">
                  <strong>Registrar el NIT es obligatorio</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="telefono">Telefono</label>
                <input type="text" id="telefono" class="form-control" formControlName="telefono" name="telefono" placeholder="Telefono">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('telefono').status === 'INVALID' && empresaGroup.get('telefono').dirty">
                  <strong>El numero de telefono es obligatorio</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="pagina_web">Pagina web (Opcional)</label>
                <input type="url" id="pagina_web" class="form-control" formControlName="pagina_web" name="pagina_web" placeholder="Pagina Web">
              </div>
              <div class="col-sm-4 form-group">
                <label for="ciudad_localidad">Ciudad/Localidad</label>
                <input type="text" id="ciudad_localidad" class="form-control" formControlName="ciudad_localidad" name="ciudad_localidad" placeholder="Ciudad o Localidad">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('ciudad_localidad').status === 'INVALID' && empresaGroup.get('ciudad_localidad').dirty">
                  <strong>Ingresa la ciudad o localidad de la empresa</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="direccion">Direccion</label>
                <input type="text" id="direccion" class="form-control" formControlName="direccion" name="direccion" placeholder="Direccion">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('direccion').status === 'INVALID' && empresaGroup.get('direccion').dirty">
                  <strong>La direccion de la empresa es obligatoria</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="representante_legal">Representante legal</label>
                <input type="text" id="representante_legal" class="form-control" formControlName="representante_legal" name="representante_legal" placeholder="Representante Legal">
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('representante_legal').status === 'INVALID' && empresaGroup.get('representante_legal').dirty">
                  <strong>El representante legal de la empresa es obligatoria</strong>
                </div>
              </div>
              <div class="col-sm-4 form-group" *ngIf="router.url === ruta_admin">
                <label for="max_participantes">Maximo de participantes</label>
                <input type="number" id="max_participantes" class="form-control" formControlName="max_participantes" name="max_participantes" min="0" max="10" placeholder="Maximo de participantes">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card
                *ngIf="router.url === ruta_admin">
          <nb-card-header>
            <span>Tipo de Empresa y Habilitación</span>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-4 form-group">
                <nb-checkbox value=0 formControlName="especial" name="especial">Empresa Especial</nb-checkbox>
              </div>
              <div class="col-sm-4 form-group">
                <nb-checkbox value=1 formControlName="habilitado" name="habilitado">Empresa Habilitada</nb-checkbox>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Ofertas y Demandas Empresariales
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="oferta">Oferta</label>
                <textarea formControlName="oferta" id="oferta" name="oferta" class="form-control" cols="30" rows="7"
                          placeholder="Que productos o servicios ofrece su empresa"></textarea>
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('oferta').status === 'INVALID' && empresaGroup.get('oferta').dirty">
                  <strong>La oferta de su producto es obligatoria</strong>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="demanda">Demanda</label>
                <textarea formControlName="demanda" id="demanda" name="demanda" class="form-control" cols="30" rows="7"
                          placeholder="Que productos o servicios necesita su empresa"></textarea>
                <div class="alert alert-danger"
                     *ngIf="empresaGroup.get('demanda').status === 'INVALID' && empresaGroup.get('demanda').dirty">
                  <strong>La demanda de su producto es obligatoria</strong>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <button type="submit" [disabled]="empresaGroup.status === 'INVALID'" class="btn btn-success">Guardar</button>&nbsp;&nbsp;
        <a (click)="cancelar()" class="btn btn-danger">Cancelar</a>
      </form>
    </div>
  </div>
</div>

