<div class="row sin-coincidencias" *ngIf="registrado">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <h4>Su evaluación general ya fue llenada exitosamente</h4>

      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="!registrado">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h3>Evaluación General</h3>
        <h5 class="texto-ayuda">
          En esta sección, usted puede llenar una evaluación general de la rueda de negocios
        </h5>
      </nb-card-header>
    </nb-card>
    <form (submit)="store()" role="form" [formGroup]="evaluacionGroup">
      <nb-card>
        <nb-card-header>
          Evaluación de la organización
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>1.- La atención brindada por los organizadores</label>
              <select name="uno" formControlName="uno" class="form-control">
                <option [value]="preg.value" *ngFor="let preg of evaluacionOrg">{{ preg.value }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>2.- El servicio de acreditación</label>
              <select name="dos" formControlName="dos" class="form-control">
                <option [value]="preg.value" *ngFor="let preg of evaluacionOrg">{{ preg.value }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>3.- La organización de las reuniones</label>
              <select name="tres" formControlName="tres" class="form-control">
                <option [value]="preg.value" *ngFor="let preg of evaluacionOrg">{{ preg.value }}</option>
              </select>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          Evaluación de la información recibida
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>1.- La calidad de la informción recibida antes del evento</label>
              <select name="cuatro" formControlName="cuatro" class="form-control">
                <option [value]="preg.value" *ngFor="let preg of evaluacionOrg">{{ preg.value }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>2.- La calidad de la informción recibida durante el evento</label>
              <select name="cinco" formControlName="cinco" class="form-control">
                <option [value]="preg.value" *ngFor="let preg of evaluacionOrg">{{ preg.value }}</option>
              </select>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          Su empresa es:
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label class="form-check-inline">
                <input formControlName="seis" class="form-check-input" type="radio" name="seis" value="Local">Local</label>
              <label class="form-check-inline">
                <input formControlName="seis" class="form-check-input" type="radio" name="seis" value="Nacional">Nacional</label>
              <label class="form-check-inline">
                <input formControlName="seis" class="form-check-input" type="radio" name="seis" value="Internacional">Internacional</label>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          ¿A través de que medio de comunicación tomó conocimiento de la realización del evento?
        </nb-card-header>
        <nb-card-body>
          <div class="radio-inline" *ngFor="let medio of medios">
            <label>
              <input type="radio" [value]="medio.value" name="siete" formControlName="siete" value=0>{{medio.value}}
            </label>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          ¿Participaria nuevamente en un evento de este tipo?
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label class="form-check-inline">
                <input formControlName="ocho" class="form-check-input" type="radio" name="ocho" checked value="Si">Si</label>
              <label class="form-check-inline">
                <input formControlName="ocho" class="form-check-input" type="radio" name="ocho" value="No">No</label>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          Comentarios
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Su opinion es importante y nos ayuda a mejorar, por favor dejenos su comentario</label>
            </div>
            <div class="col-sm-12 form-group">
              <textarea formControlName="nueve" name="nueve" style="width: 100%;"></textarea>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <button type="submit" class="btn btn-info" [disabled]="evaluacionGroup.status === 'INVALID'">Enviar</button>
    </form>


  </div>
</div>
