<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h4 *ngIf="emp !== null">{{emp.nombre}}</h4>
        <h5>Empresas Registradas para agendar reuniones</h5>
      </nb-card-header>
      <nb-card-body class="card-body">
        <h5 class="texto-ayuda">En esta sección, puede agendar reuniones con las distintas empresas participes de la
          rueda de negocios.<br>
          Puede realizar la búsqueda en función de las ofertas y/o demandas de las empresas.</h5>
        <form (submit)="buscar()" [formGroup]="buscarGroup" class="rueda-search">
          <select formControlName="rubro_id" name="rubro_id">
            <option value="0">TODOS LOS RUBROS</option>
            <option *ngFor="let rubro of rubros"
                    [value]="rubro.rubro_id">{{rubro.nombre}}</option>
          </select>
          <input formControlName="search" name="search" placeholder="Buscar ofertas y demandas" type="search">
          <button class="search"> Buscar</button>
        </form>
        <br><br>
        <div *ngIf="empresas !== null && empresas.length === 0" class="sin-coincidencias">
          No se encontraron coincidencias
        </div>
        <div *ngIf="empresas !== null && empresas.length > 0" class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>N.</th>
              <th>Logo</th>
              <th>Empresa</th>
              <th>NIT</th>
              <th>Pais</th>
              <th>Ciudad/Localidad</th>
              <th *ngIf="rueda?.habilitado">Telefono</th>
              <th>Direccion</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empresa of empresas; let i = index">
              <td>{{ i + 1 }}</td>
              <td><img alt="{{empresa.nombre}}" height="48" src="{{logo}}{{empresa.empresa_id}}"></td>
              <td><a (click)="info(empresa)" class="info">{{ empresa.nombre | uppercase }}</a></td>
              <td>{{ empresa.nit }}</td>
              <td>{{ empresa.pais }}</td>
              <td>{{ empresa.ciudad_localidad }}</td>
              <td *ngIf="rueda?.habilitado">{{ empresa.telefono }}</td>
              <td>{{ empresa.direccion}}</td>
              <td>
                <div class="row">
                  <div class="col-lg-6">
                    <button (click)="agendar(empresa.empresa_id)" class="asignar">Agendar Reunión</button>
                  </div>
                  <div class="col-lg-6">
                    <button (click)="info(empresa)" class="asignar">Ofertas y Demandas</button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
