.perfil-acciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.perfil-acciones img {
  width: 250px;
}
.perfil-acciones h4 {
  margin-top: 1em;
}
.btn-perfil {
  display: block;
  width: 250px;
  padding: .5em 0;
  border: none;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e63e5c;
  color: white;
}
#logo-file {
  display: none;
}
.logo-file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 36px;
  height: 36px;
  opacity: 0.8;
  background-color: #e63e5c;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
}
.logo-file-label:hover {
  opacity: 1;
}
.logo-file-label i{
  font-size: 1.5em;
  font-weight: 800;
}
