<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-body class="perfil-acciones">
            <img src="{{logo}}{{usuario.empresa_id}}" [alt]="usuario.nombre" *ngIf="usuario.tipo_usuario === 'empresa'">
            <img src="{{usuarioLogo}}" alt="{{usuario.nombres}} {{usuario.apellidos}}" *ngIf="usuario.tipo_usuario === 'administrador'">
            <h4>{{ usuario.nombres }} {{ usuario.apellidos }}</h4>
            <button *ngIf="usuario.tipo_usuario === 'administrador'" class="btn-perfil" routerLink="/admin/actualizar-usuario/{{usuario.usuario_id}}">Editar Usuario</button>
            <button *ngIf="usuario.tipo_usuario === 'empresa'" class="btn-perfil" routerLink="/empresa/actualizar-usuario/{{usuario.usuario_id}}">Editar Usuario</button>
            <!--<button class="btn-perfil" *ngIf="usuario.tipo_usuario === 'empresa'">Editar Empresa</button>-->
          </nb-card-body>
        </nb-card>
      </div>
      <ng-template ngIf="participantes !== null">
        <div class="col-md-12" *ngFor="let participante of participantes">
          <nb-card>
            <nb-card-header>Participante {{participante.nombres}} {{participante.apellidos}}</nb-card-header>
            <nb-card-body >
              <table class="table">
                <tbody>
                <tr>
                  <td><strong>Carnet</strong></td>
                  <td>{{participante.carnet}}</td>
                </tr>
                <tr>
                  <td><strong>Celular</strong></td>
                  <td>{{participante.celular}}</td>
                </tr>
                <tr>
                  <td><strong>Cargo</strong></td>
                  <td>{{participante.cargo}}</td>
                </tr>
                </tbody>
              </table>
            </nb-card-body>
          </nb-card>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>Perfil de Usuario</nb-card-header>
          <nb-card-body>
            <table class="table">
              <tbody>
              <tr>
                <td><strong>Nombres</strong></td>
                <td>{{usuario.nombres}} {{usuario.apellidos}}</td>
              </tr>
              <tr>
                <td><strong>Correo Electrónico</strong></td>
                <td>{{usuario.email}}</td>
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row" *ngIf="usuario.tipo_usuario === 'empresa'">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>Perfil de Empresa</nb-card-header>
          <nb-card-body>
            <table class="table">
              <tbody>
              <tr>
                <td><strong>Estado</strong></td>
                <td>
                  <span *ngIf="usuario.habilitado === 1" class="text-success">Habilitado para la rueda de negocios</span>
                  <span *ngIf="usuario.habilitado === 2" class="text-danger">No habilitado para la rueda de negocios</span>
                </td>
              </tr>
              <tr>
                <td><strong>Rubro</strong></td>
                <td>{{usuario.rubro}}</td>
              </tr>
              <tr>
                <td><strong>Empresa</strong></td>
                <td>{{usuario.nombre}}</td>
              </tr>
              <tr>
                <td><strong>NIT</strong></td>
                <td>{{usuario.nit}}</td>
              </tr>
              <tr>
                <td><strong>Representante Legal</strong></td>
                <td>{{usuario.representante_legal}}</td>
              </tr>
              <tr>
                <td><strong>Ciudad/Localidad</strong></td>
                <td>{{usuario.ciudad_localidad}}</td>
              </tr>
              <tr>
                <td><strong>Dirección</strong></td>
                <td>{{usuario.direccion}}</td>
              </tr>
              <tr>
                <td><strong>Telefono</strong></td>
                <td>{{usuario.telefono}}</td>
              </tr>
              <tr>
                <td><strong>Pagina Web</strong></td>
                <td><a href="http://{{usuario.pagina_web}}" target="_blank">{{usuario.pagina_web}}</a></td>
              </tr>
              <tr>
                <td><strong>Participantes Habilitados</strong></td>
                <td>{{usuario.max_participantes}}</td>
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
