<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-body class="perfil-acciones">
            <label *ngIf="usuario.tipo_usuario === 'empresa'" class="logo-file-label" for="logo-file">
              <i class="nb-edit"></i>
            </label>
            <input #logoFile (change)="cambiarLogo()" id="logo-file" type="file">
            <img *ngIf="usuario.tipo_usuario === 'empresa'" [alt]="usuario.nombre" [src]="logo">
            <img *ngIf="usuario.tipo_usuario === 'administrador'" alt="{{usuario.nombres}} {{usuario.apellidos}}"
                 src="{{usuarioLogo}}">
            <h4 *ngIf="usuario.tipo_usuario === 'administrador'">{{ usuario.nombres }} {{ usuario.apellidos }}</h4>
            <h4 *ngIf="usuario.tipo_usuario === 'empresa'">{{ usuario.nombre }}</h4>
            <button *ngIf="usuario.tipo_usuario === 'administrador'" class="btn-perfil"
                    routerLink="/admin/actualizar-usuario/{{usuario.usuario_id}}">Editar Usuario
            </button>
            <button *ngIf="usuario.tipo_usuario === 'empresa'" class="btn-perfil"
                    routerLink="/empresa/actualizar-usuario/{{usuario.usuario_id}}">Editar Usuario
            </button>
            <button *ngIf="usuario.tipo_usuario === 'empresa'" [routerLink]="['/empresa/editar/'+usuario.empresa_id]"
                    class="btn-perfil">Editar Empresa
            </button>
          </nb-card-body>
        </nb-card>
      </div>
      <ng-template ngIf="participantes !== null">
        <div *ngFor="let participante of participantes" class="col-md-12">
          <nb-card>
            <nb-card-header>Participante {{participante.nombres}} {{participante.apellidos}}</nb-card-header>
            <nb-card-body>
              <table class="table">
                <tbody>
                <tr>
                  <td><strong>Carnet</strong></td>
                  <td>{{participante.carnet}}</td>
                </tr>
                <tr>
                  <td><strong>Celular</strong></td>
                  <td>{{participante.celular}}</td>
                </tr>
                <tr>
                  <td><strong>Cargo</strong></td>
                  <td>{{participante.cargo}}</td>
                </tr>
                </tbody>
              </table>
            </nb-card-body>
          </nb-card>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>Perfil de Usuario</nb-card-header>
          <nb-card-body>
            <table class="table">
              <tbody>
              <tr>
                <td><strong>Nombres</strong></td>
                <td>{{usuario.nombres}} {{usuario.apellidos}}</td>
              </tr>
              <tr>
                <td><strong>Cuenta</strong></td>
                <td>{{usuario.cuenta}}</td>
              </tr>
              <tr>
                <td><strong>Correo Electrónico</strong></td>
                <td>{{usuario.email}}</td>
              </tr>
              <tr>
                <td><strong>Teléfono/Celular</strong></td>
                <td>{{usuario.telefono_celular}}</td>
              </tr>
              <tr>
                <td><strong>Whatsapp</strong></td>
                <td>{{usuario.whatsapp}}</td>
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div *ngIf="usuario.tipo_usuario === 'empresa'" class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>Perfil de Empresa</nb-card-header>
          <nb-card-body>
            <table class="table">
              <tbody>
              <tr>
                <td><strong>Estado</strong></td>
                <td>
                  <span *ngIf="usuario.habilitado === 1"
                        class="text-success">Habilitado para la rueda de negocios</span>
                  <span *ngIf="usuario.habilitado === 0"
                        class="text-danger">No habilitado para la rueda de negocios</span>
                </td>
              </tr>
              <tr>
                <td><strong>Rubro</strong></td>
                <td>{{usuario.rubro}}</td>
              </tr>
              <tr>
                <td><strong>Empresa</strong></td>
                <td>{{usuario.nombre}}</td>
              </tr>
              <tr>
                <td><strong>NIT</strong></td>
                <td>{{usuario.nit}}</td>
              </tr>
              <tr>
                <td><strong>Representante Legal</strong></td>
                <td>{{usuario.representante_legal}}</td>
              </tr>
              <tr>
                <td><strong>País</strong></td>
                <td>{{usuario.pais}}</td>
              </tr>
              <tr>
                <td><strong>Ciudad/Localidad</strong></td>
                <td>{{usuario.ciudad_localidad}}</td>
              </tr>
              <tr>
                <td><strong>Dirección</strong></td>
                <td>{{usuario.direccion}}</td>
              </tr>
              <tr>
                <td><strong>Telefono</strong></td>
                <td>{{usuario.telefono}}</td>
              </tr>
              <tr>
                <td><strong>Pagina Web</strong></td>
                <td><a href="http://{{usuario.pagina_web}}" target="_blank">{{usuario.pagina_web}}</a></td>
              </tr>
              <tr>
                <td><strong>Participantes Habilitados</strong></td>
                <td>{{usuario.max_participantes}}</td>
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
