<div class="row">
  <div class="col-md-4">
    <nb-card>
      <nb-card-body class="perfil-acciones">
        <img src="https://t3.ftcdn.net/jpg/01/71/05/64/240_F_171056472_EtbY5iv7f1lxLFZUHt1N68FFP09cE7LJ.jpg" alt="">
        <h4>{{ usuario.nombres }} {{ usuario.apellidos }}</h4>
        <button class="btn-perfil">Editar Usuario</button>
        <button class="btn-perfil">Editar Empresa</button>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>Perfil de Usuario</nb-card-header>
          <nb-card-body>
            <table class="table">
              <tbody>
              <tr>
                <td><strong>Nombres</strong></td>
                <td>{{usuario.nombres}} {{usuario.apellidos}}</td>
              </tr>
              <tr>
                <td><strong>Correo Electrónico</strong></td>
                <td>{{usuario.email}}</td>
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>Perfil de Empresa</nb-card-header>
          <nb-card-body>

          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
