<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Noticias
        <a class="download-pdf"
           routerLink="/admin/noticias/crear"
           title="Crear Nueva Noticia">
          Crear Noticia <i class="fa fa-newspaper"></i>
        </a>
      </nb-card-header>
      <nb-card-body>
<!--        <form (submit)="buscar()" class="rueda-search" [formGroup]="buscarGroup">-->
<!--          <select formControlName="rubro_id" name="rubro_id">
            <option value="0">TODOS LOS RUBROS</option>
            <option [value]="rubro.rubro_id"
                    *ngFor="let rubro of rubros">{{rubro.nombre}}</option>
          </select>-->
<!--          <input type="search" formControlName="search" name="search" placeholder="buscar">
          <button class="search"> Buscar </button>
        </form>-->
        <br>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>N.</th>
              <th>Titulo</th>
              <th>Contenido</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let noticia of noticias; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ noticia.titulo }}</td>
                <td>
                  <div [innerHTML]="noticia.contenido.substring(0, 250)"></div>
                </td>
                <td class="btn-acciones">
                  <a class="text-info" title="Editar noticia" routerLink="/admin/noticias/editar/{{noticia.id}}"><i class="fa fa-edit"></i></a>
                  <a class="text-danger" title="Eliminar noticia" (click)="destroy(noticia)" ><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
