<div class="modal-header">
  <span>{{modalHeader}}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
      <tr>
        <td>Empresa</td>
        <td><strong>{{ empresa.nombre | uppercase }}</strong></td>
      </tr>
      <tr>
        <td>Inscripción</td>
        <td><strong>{{empresa.created_at | date: 'dd-MM-yyy HH:mm:ss'}}</strong></td>
      </tr>
      <tr *ngIf="fecha_hora_registro_reunion !== null">
        <td>Registro de esta reunion</td>
        <td><strong>{{fecha_hora_registro_reunion.date | date: 'dd-MM-yyy HH:mm:ss'}}</strong></td>
      </tr>
      <tr>
        <td>Representante Legal</td>
        <td><strong>{{empresa.representante_legal}}</strong></td>
      </tr>
      <tr>
        <td>NIT</td>
        <td><strong>{{empresa.nit}}</strong></td>
      </tr>
      <tr>
        <td>Ciudad/Localidad</td>
        <td><strong>{{empresa.ciudad_localidad}}</strong></td>
      </tr>
      <tr>
        <td>Direccion</td>
        <td><strong>{{empresa.direccion}}</strong></td>
      </tr>
      <tr>
        <td>Telefono</td>
        <td><strong>{{empresa.telefono}}</strong></td>
      </tr>
      <tr>
        <td>Página Web</td>
        <td><strong><a href="http://{{empresa.pagina_web}}" target="_blank">{{empresa.pagina_web}}</a></strong></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary" (click)="getOfertas()" [disabled]="tipo === 'oferta'">Ofertas</button> &nbsp;&nbsp;
      <button class="btn btn-warning" (click)="getDemandas()" [disabled]="tipo === 'demanda'">Demandas</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>N.</th>
            <th>Producto</th>
            <th>{{ tipo | titlecase }}</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of productos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ record.producto_servicio }}</td>
            <td>
              {{ record.descripcion }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>N.</th>
            <th>Servicio</th>
            <th>{{ tipo | titlecase }}</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of servicios; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ record.producto_servicio }}</td>
            <td>
              {{ record.descripcion }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
